@charset "utf-8";
* {
	margin:0px;
	padding:0px;
}

body, button, input, select, textarea { font-family: Verdana, Geneva, sans-serif; color: #65696f; text-decoration:none; background-color: #FFF; font-size:14px; }


/** IE Fixes **/
img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

#container {
	width:100%;
}
header {
	width:100%;
	height:100px;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.clear {
	clear:both;
}
hr.pink-line {
	height: 2px;
    background: #ffac9c;
	border:none;
	margin-top:15px;
	margin-bottom:30px;
}
h1 {
	font-size:22px;
	font-weight:normal;
}

/**NAV**/

nav {
	width:100%;
	height:47px;
	background-color:#d4d7dc;
}
#tabs {
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
}
#tabs li {
	display:inline;
}
#tabs li a{
	display: inline-block;
	width: 193px;
	height: auto;
	line-height: 45px;
	text-align: center;
	font-family:Verdana, Geneva, sans-serif;
	color:#555;
	text-decoration:none;
	font-size:18px;
}
.active {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #F19586;	
}
.last {
	background-image: url(images/bar.jpg);
	background-position: 100% 0px;
	background-repeat: no-repeat;
}

.first {
	background-image: url(images/bar.jpg), url(images/bar.jpg);
	background-repeat:no-repeat;
	background-position:left top, right top;
}

#tabs li a.first:hover{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #F19586;	
}
#tabs li a.last:hover{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #F19586;	       
}

/** FTP FORM **/

#ftp-form {
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	padding: 20px;
}
.columnA {
	width:75%;
}
.columnB {
	width:17%;
}
.info {
    height: 22px;
    margin-left: 10px;
    margin-top: 3px;
/*    padding-left: 10px;
    padding-top: 5px;*/
    width: 22px;
}
.form-column1 {
	width:50%;
	margin-bottom: 90px;
}
.form-column2 {
	width:50%;
	text-align:right;
}
.toggle {
	text-align:right;
}
.inline {
	padding-top: 4px;
}

tr {
	height:auto;
	width:100%;
}
table {
	width:100%;
}
tbody {
	width:100%;
}
#table1 {
	width:42%;
}
#table2 {
	width:42%;
}
#arrows {
	width:15%
}
.text-field {
	margin-left: 20px;
    width: 88%;
}
.transfer-info {
	margin-top:20px;
}
.transfer-date {
	margin-left:20px;
	margin-right:40px;
	font-weight:700;
}
.success {
	color:#6C3;
}
h3 {
	background-color:#D4D7DC;
	padding:7px;
	color:#333;
	font-weight:normal;
	text-align:center;
	font-size:15px;
}
#allAvailableFieldList, #newFieldList {  height: auto; min-height: 300px; width: 100%;
 border: 1px solid #CCC;
    color: #888;
	outline: 0 none;
    padding: 6px 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);}

#btnRight, #btnLeft {
	margin-left:20px;
	margin-right:20px;
}
#btnUp, #btnDn {
	margin-left:15px;
	margin-right:0px;
}
#btnSubmit {
	background-image:url(images/save_1.png);
	background-repeat:no-repeat;
	width:120px;
	height:50px;
	padding:0px;
	border:none;
	cursor:pointer;
	margin-top:15px;
	color:#fff;
}
#btnSubmit:hover {
	background-image:url(images/save-hover_1.png);
	background-repeat:no-repeat;
	width:120px;
	height:50px;
	padding:0px;
	border:none;
	cursor:pointer;
	margin-top:15px;
	color:#fff;
}
#btnTest {
	background-image:url(images/test.png);
	background-repeat:no-repeat;
	width:120px;
	height:50px;
	padding:0px;
	border:none;
	cursor:pointer;
	margin-top:15px;
	color:#fff;
}
#btnTest:hover {
	background-image:url(images/test-hover.png);
	background-repeat:no-repeat;
	width:120px;
	height:50px;
	padding:0px;
	border:none;
	cursor:pointer;
	margin-top:15px;
	color:#fff;
}

.text-field {
	 border: 1px solid #CCC;
    color: #888;
	outline: 0 none;
    padding: 6px 12px;
	
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tooltip{
    display: inline;
    position: relative;
	top:150px;
}
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 420px;
}
/*.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}*/



/*input[type="text"], input[type="email"], textarea, .bootstrap-frm select{
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 6px 12px;
    width: 68%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font: normal 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}*/

/** toggle switch **/

/*

input.switch:empty
{
	margin-left: -99999px;
	display:none;
}

input.switch:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
	background-color: #393;
}

input.switch:checked ~ label:after
{
	margin-left: 2.1em;
}



*/




.switch{
    vertical-align: middle;
    z-index: 999;
}

.switch [type="checkbox"],
.switch [type="radio"]{
    display: none;
}

.switch label{
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #fff;

    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 18px;

    border: 1px solid #7ac49f;
    border-radius: 1000px;
    background: #7ac49f;

    overflow: hidden;
    height: 20px;
    width: 56px;
    white-space: nowrap;

    z-index: 1;
}

.switch label span{
    display: inline-block;
    position: relative;
    width: 45px;
    height: 19px;
    text-align: center;
    left: 0;
    top: 0;
    vertical-align: top;

    padding: 0 10px 0 0;

    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    
       /* Opera (tested: 10, 12) doesn't factor in border radius with overflow
       making the transition look weird, so just remove it: */
    -o-transition: none;

    border-radius: 1000px 0 0 1000px;
}

.switch label span:last-child{
    background: #eee;
    padding: 0 0 0 2px;
    border-radius: 0 1000px 1000px 0;
	 color: #999;
}

.switch .switch__divider{
    content: "";
    height: 20px;
    width: 20px;
    top: -1px;

    z-index: 10;

    overflow: hidden;
    padding: 0;
    margin: 0 -10px;

    background: #fff;
/*    border: 1px solid #999;*/
    border-radius: 1000px;

       -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    o-transition: left 0.3s;
    transition: left 0.3s;
}

.switch__divider:before{
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.switch [type="checkbox"]:checked + label span,
.switch [type="radio"]:checked + label span{
    left: -36px;
}


*, .cf:before, .cf:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
} 
.cf:after {
    clear: both;
}


.hidden{
    display: none !important;
}


/*TABLE-LOG PAGE*/

#logtable
{
border: 1px solid #BDC2CA;
    border-collapse: collapse;
    font-family:Verdana, Geneva, sans-serif;
    font-size: 14px;
	text-align: left;
    width: 100%;
}
#logtable th
{
	background-color: #D4D7DC;
    border-bottom: 1px solid #BDC2CA;
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    padding: 12px 27px;

}
#logtable td
{
	padding: 7px 17px 7px 17px;
	color: #333;
	padding: 7px 27px;
}
#logtable tbody tr:hover td
{
	color: #fff;
	background: #479ccf;
	cursor:pointer;
}


#log {
	max-width: 960px;
    padding: 20px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}
@media all and (min-width: 768px) and (max-width: 989px){
}
@media screen and (min-width: 767px) {
.hide-on-desktop {
	display: none !important;
}

}

@media screen and (min-width: 500px) and (max-width: 767px) {
}
@media screen and (max-width: 767px) {
}
@media all and (min-width: 0px) and (max-width: 480px){
}


.forewards-ad {
	width:100%;
	border:1px solid #BBB;
	padding:7px;
}
.forewards-ad h2 {
	color: #666;
font-weight: 100;
font-size: 20px;
font-family: sans-serif;
text-align: center;
}
.forewards-ad h2 a {
	color:#f5a091;
	text-decoration:none;
}

