{% extends "base.phtml" %}

{% block title %}CSV to FTP{% endblock %}
{% block javascript %}
{% load staticfiles %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <!-- <script type="text/javascript" src="js/getDateString.js"></script> -->
		<script>                   
                $(document).ready(function() {
                    
                    // On every page we store 'recurringChargeActive' which tells us
                    // if a recurring charge is in place.. If not, we need to 
                    // force them to the proper page via window.top.location.replace()
                    // We cannot do this server-side because of this app being in a frame.
                    $('#btnRight').click(function(e) {
                        var selectedOpts = $('#allAvailableFieldList option:selected');
                        if (selectedOpts.length == 0) {
                            alert("Nothing to move.");
                            e.preventDefault();
                        }

                        $('#newFieldList').append($(selectedOpts).clone());
                        $(selectedOpts).remove();
                        e.preventDefault();
                    });

                    $('#btnLeft').click(function(e) {
                        var selectedOpts = $('#newFieldList option:selected');
                        if (selectedOpts.length == 0) {
                            alert("Nothing to move.");
                            e.preventDefault();
                        }

                        $('#allAvailableFieldList').append($(selectedOpts).clone());
                        $(selectedOpts).remove();
                        e.preventDefault();
                    });
                   
                    $('#btnUp').click(function(e) {
                        var selectedOpts = $('#newFieldList option:selected');
                        if (selectedOpts.length > 0){
                                $(selectedOpts).first().prev().before($(selectedOpts));
                        }
                        e.preventDefault();
                    });
                    $('#btnDn').click(function(e) {
                        var selectedOpts = $('#newFieldList option:selected');
                        if (selectedOpts.length > 0){
                              $(selectedOpts).last().next().after($(selectedOpts)); 
                        }
                        e.preventDefault();
                    });
                    
                    $('#btnSubmit').click(function(event) { 
                        event.preventDefault();
                        var opt = $('#newFieldList option');
                        opt.prop('selected', true);
                        var $form = $('#htmlform');
                        var $url = $form.attr('action');
						console.log($form.serializeArray())
                        $.ajax({
                            type: "POST",
                            url: $url,
                            data: $form.serializeArray(),
                            statusCode: {
                            	//if something is wrong with the session, we return a 401 error.
                            	//We then should redirect the /sessionlost page.
                                401: function() {
                                  window.location.replace("/sessionlost");
                                }
                              },
                            success: function() { 
								alert("saved config")
							}
                         });
                        opt = $('#newFieldList option');
                        opt.prop('selected', false);     
                        // return false to prevent normal browser submit and page navigation 
                        return false; 
                    });
                    /* 
                   $('#btnTest').click(function(event) { 
                        event.preventDefault();
                        
                        ShopifyApp.Bar.loadingOn();

                        var opt = $('#newFieldList option');
                        opt.prop('selected', true);     
                        var $form = $('#htmlform');
                        var $url = $form.attr('action');

                        $.ajax({
                            type: "POST",
                            url: "testConfiguration",
                            data: $form.serializeArray(),
                            statusCode: {
                            	//if something is wrong with the session, we return a 401 error.
                            	//We then should redirect the /sessionlost page.
                                401: function() {
                                  ShopifyApp.Bar.loadingOff();
                                  window.location.replace("/sessionlost");
                                }
                              },
                            success: function() { 
                                ShopifyApp.Bar.loadingOff();
                                if (!window.location.origin) {
                                     window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
                                }

                                ShopifyApp.Modal.open({
                                  src: window.location.origin + '/testConfigurationResults',
                                  title: 'FTP log test',
                                  width: 'small',
                                  height: 300,
                                  buttons: {
                                    primary: { label: "OK", callback: function (label) { ShopifyApp.Modal.close(); }  }
                                  }
                                }, function(result, data){

                                });     

;                            }
                         });
                       
                         
                        opt = $('#newFieldList option');
                        opt.prop('selected', false);     
                        // return false to prevent normal browser submit and page navigation 
                        return false; 
                    });
*/
                    // This is the region on the switch when it is 'on' that will
                    // toggle the switch 'off'
                    $('#enablespan').click(function(e) {
//                      alert("enable -> disable");
                        $('#enabledconfig').val("false");

                    });
                    
                    // This is the region on the switch when it is 'off' that will
                    // toggle the switch 'on'
                     $('#disablespan').click(function(e) {
 //                     alert("disable -> enable");
                        $('#enabledconfig').val("true");
                    });
                    
                    // Just before we finish the 'ready block' lets flip the switch to 'disabled'
                    // This will carry out all activities associated with that event as we 
                    // are effectively simulating a real click.
                  
                   if ({{config.IsEnabled}} == false) {
                        $( "#enablespan" ).trigger("click");
                   }

                    //Preload the Transfer Schedule drop down with one in DB
                    //$("option[value='${transferSchedule}']").attr('selected','selected');
                
                 //   var lastTransferDate = new Date("${lastTransferDate}");
                //	window.date = getDateString(lastTransferDate);  
                
                });           
                
            </script>        
{% endblock %}
<div id="container">
{% block content %}
  
  <!--NAV-->
  <nav>
    <ul id="tabs">
      <li><a class="first active" href="/configure">Configure</a></li><li><a class="last" href="/viewFTPLogs">Reports Sent</a></li>
    </ul>
  </nav>
  

  <!--END NAV--> 
  
  <!--FTP FORM-->
  <section id="ftp-form">
    <div class="columnA fl">
      <h1 class="fl">Where Your Reports Should Go</h1>
      <a href="#" title="Please fill out the following fields so that we'll know where exactly where to send your order fulfillment documents each night. To do this right we'll need the full credentials of your FTP server including the address and login information." class="tooltip"><span title="more"><img class="fl info" src="{% static 'images/info.jpg' %}" width="22" height="22" alt="info"></span></a><!--end info--> 
    </div>
    <!--end ColA-->
    
    <div class="columnB fr">
      <div class="toggle">
      <p class="inline fl">Enable:</p>
      <form>

<span class="switch"  >
<input type="checkbox"  id="switch1" name="switch1" value="1" />
<label for="switch1"  ><span id="enablespan">On</span><span class="switch__divider"> / </span><span id="disablespan">Off</span></label>
</span>
          
</form>
      
    <!--<div>
	<input type="checkbox" id="switch1" name="switch1" class="switch" />
	<label for="switch1">Enabled</label>
	</div>-->
    
        <!--<table>
          <tr>
            <td valign="right">Enabled:</td>
            <td valign="top"><input  type="checkbox" name="isEnabled" maxlength="100" size="30" value="1" {{config.IsEnabled}}/></td>
          </tr>
        </table>-->
      </div>
      <!--end toggle--> 
    </div>
    <!--end columnB-->
    
      
    <div class="clear"></div>
   
    
    <form id="htmlform" name="htmlform" method="post" action="configuration" >{% csrf_token %}
        
      <input type="hidden" id="enabledconfig" name="IsEnabled" value="{{config.IsEnabled}}">        
      <input type="hidden" name="configurationId" value="${configurationId}">
       <hr class="pink-line">
      <div class="form-column1 fl">
        <table  ic="configtable" cellpadding="10px" >
          <tr>
            <td valign="center">FTP Server:</td>
            <td><input class="text-field" type="text" name="FtpServer" maxlength="100" size="30" value="{{config.FtpServer}}"/></td>
          </tr>
          <tr>
            <td valign="center">FTP Port:</td>
            <td><input class="text-field" type="text" name="FtpPort"  size="6" value="{{config.FtpPort}}"/></td>
          </tr>
          <tr>
            <td valign="center">FTP User:</td>
            <td><input class="text-field" type="text" name="FtpUser" maxlength="50" size="30" value="{{config.FtpUser}}"/></td>
          </tr>
        </table>
        
        <div class="transfer-info">
        <p>Last Transfer: <span class="transfer-date"><script type="text/javascript">document.write(window.date);</script> - {{config.LastStatus}}</span></p>
        
      	</div>
      </div>
      <!--end column1-->
      
      <div class="form-column2 fr">
        <table  ic="configtable" cellpadding="10px" >
          <tr>
            <td valign="center">FTP Password:</td>
            <td><input class="text-field" type="password" name="FtpPassword" maxlength="50" size="30" value="{{config.FtpPassword}}"/></td>
          </tr>
          <tr>
            <td valign="center">FTP Path:</td>
            <td><input class="text-field" type="text" name="FtpPath" maxlength="50" size="30" value="{{config.FtpPath}}"/></td>
          </tr>
        </table>         
      </div>
      <!--end column2-->
      <div class="clear"></div>
      
       <h1 class="fl">How Often Should We Send Reports?</h1>
      <a href="#" title='There are 4 options here. "Daily", sends a report once daily at midnight. "Twice a Day" at noon and midnight. "Every 6 hours", 00:00, 06:00, 12:00, 18:00. Finally, "Hourly", which sends a report every hour on the hour.' class="tooltip"><span title="more"><img class="fl info" src="{% static 'images/info.jpg' %}" width="22" height="22" alt="info"></span></a><!--end info-->
      <div class="clear"></div>
      <hr class="pink-line">
      Send updated orders
      <select id="TransferScheduleValue" name="TransferScheduleValue">
		  <option value="3">Daily</option>
		  <option value="2">Twice a Day</option>
		  <option value="1">Every 6 Hours</option>
		  <option value="0">Hourly</option>
		</select>
        <br><br><br><br>
        
      <h1 class="fl">How The Reports Should Look</h1>
       <a href="#" title="Every fulfillment warehouse needs specific information from their vendors. Go ahead and select everything that youll need included in your order fulfillment documents. You can also order the fields as youd like them to appear. Well do the rest." class="tooltip"><span title="more"><img class="fl info" src="{% static 'images/info.jpg' %}" width="22" height="22" alt="info"></span></a><!--end info--> 
   
    <!--end ColA-->
    
       
    <div class="clear"></div>
    
    
    <hr class="pink-line">
      
      <input type="hidden" id="myField" value="" />
      
      <table id="configtablefields">
      
        <tr>
      
          <td id="table1"><h3>Available fields:</h3>
            <select multiple="multiple" id='allAvailableFieldList' >
              {% for field in availableFields %}
				<option value="{{field}}">{{field}}</option>
			  {% endfor %}
            </select></td>
            
          <td id="arrows" style='text-align:center;vertical-align:middle;'>
          <input type='image' id='btnRight' value ='  >  ' src="{% static 'images/right-button.jpg' %}"/>
            <br/>
            <input type='image' id='btnLeft' value ='  <  ' src="{% static 'images/left-button.jpg' %}" /></td>
          <td id="table2"><h3>Fields in CSV File:</h3>
            <select multiple="multiple" id='newFieldList' name='newFieldList' >
              {% for field in chosenFields %}
				<option value="{{field}}">{{field}}</option>
			  {% endfor %}
            </select></td>
            
          <td id="arrows2" style='text-align:left;vertical-align:left;'><input type='image'  id='btnUp' value ='&nbsp;&nbsp;&nbsp;Up  ' src="{% static 'images/up-arrow.jpg' %}"/>
            <br/>
            <input type='image' id='btnDn' value ='  Down ' src="{% static 'images/down-arrow.jpg' %}"/></td>
        </tr>
      </table>
   
      <div class="clear"></div>
      
      <table>
          <tr>
          <td/>
          <td/>
          <td align="right"><button type="button" name="Test" id="btnTest">Test</button>
            <button type="button" name="Save" id="btnSubmit" >Save</button></td>
        </tr>
      </table>
    </form>

	<div class="forewards-ad">
		<h2>Need help with referrals? Check out our other app, <a target="_blank" href="https://apps.shopify.com/forewards?utm_source=csvtoftp&utm_medium=banner&utm_campaign=CSVtoFTP">Forewards</a></h2>
	</div>
  </section>
  <!--end ftp--> 
  <!--END FTP FORM--> 
  
</div>
{% endblock %}
