<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
     	
     	
     	{% load staticfiles %}
     	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
<div class="container">
{% block content %}{% endblock %}
</div>
</body>
{% block javascript %}{% endblock %}
</html>